.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dog-profile-image {
    height: 300px;
    width: 300px;
}

h1 {
    font-size: 20px;
}